.env
.idea
public
cypress.config.ts
.husky
amplify
Procfile
.DS_Store
yarn.lock
_redirects
.gitignore
netlify.toml
.env.example
src/App.scss
cypress.config.ts
src/index.css
src/index.scss
.prettierignore
src/App.css.map
src/assets/Images
src/index.css.map
src/vtl_scripts.vtl
node_modules
src/assets/fonts/SF-Pro-Medium/SFProDisplay-Medium.ttf
poetry-installer-error-ecbhizvu.log
src/graphql
src/api
package.json
amplify/backend/function/**/src/node_modules
!amplify/backend/function/**/src/*.js